<%- include('partials/head')  %> 
<%- include('partials/navbar')  %> 
    <h1>Hello there this is Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure debitis sunt eum consequuntur magni facere quaerat pariatur atque obcaecati ex molestiae tenetur incidunt blanditiis aliquid enim, non quod. Unde, minima.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus impedit enim veniam aspernatur, aliquam facere vitae dolorum. Voluptatum nesciunt sed laborum quae doloribus, cum molestiae. Quasi quibusdam fuga voluptate autem!</p>
    
    
<%- include('partials/footer')  %> 